	*{
    margin:0;
    padding:0;
}
a{
	text-decoration: none;
	color:orange;
}
a:visited{
	text-decoration: none;
}
body{
	background-image: url("Fotografije/telefoni.jpg");
	height:100%;
	background-attachment:fixed;
	background-repeat:no-repeat;
	color:white;
	font-family:Arial;
	text-shadow: 0px 0px 20px black;	
	}

h1{
	font-size:20px;
}
ul {
    list-style-type:none;
    position: absolute;
}
li {
    display:inline-block;
    float: left;
}
li a {
    display:block;
    min-width:140px;
    text-align: center;
    line-height: 47px;
    font-family:Arial;
    color: white;
    background: #31577C;
    text-decoration: none;
	
}
li:hover a {
    background: #97C026;
	transition: background-color 0.5s ease;
}
li:hover ul a {
    background: #f3f3f3;
    color: #2f3036;
    height: 40px;
    line-height: 40px;
	transition: background-color 0.5s ease;
}
li:hover ul a:hover {
    background: #97C026;
    color: white;
}
li ul {
    display: none;
}
li ul li {
    display: block;
    float: none;
}
ul li a:hover + .drop, .drop:hover {
    display: block;
}
.meni {
    font-family: Arial;
    text-decoration: none;
    color: white;
    background: #31577C;
    text-align: center;
    padding: 10px 0;
    display: none;
}
input[type=checkbox]{
    display: none;
}
input[type=checkbox]:checked ~ #meni{
    display: block;
	
}
input[type=text] {
  width: 200px;
  padding: 7px 7px;
  margin:5px 0;
  box-sizing: border-box;
}
input[type=password] {
  width: 200px;
  padding: 7px 0px;
  margin: 5px 0;
  box-sizing: border-box;
}
input[type=text]:focus,[type=password]:focus{
	border:2px solid #97C026;
}
select {
	width:200px;
	margin:8px 0;
	box-sizing:border-box;
}
select :focus{
	border:2px solid #97C026;
}
input[type=submit]{
	background-color:#97C026;
	border:none;
	color:white;
	padding:12px 20px;
	margin:15px 0;
	width:200px;
}
table {
    border-collapse: collapse;
}
table, th, td {
	border:1px solid white;
}
.greske{
	color:red;
}
.button
{
	background-color:#97C026;
	border:none;
	color:white;
	padding:12px 20px;
	margin:15px 0;
	width:200px;
}
.reg{
	position:absolute;
	margin:0 auto;
	top:30%;
	right:0;
	bottom:0;
	left:0;
	padding-top:30px;	
	background-color:#31577C;
	width:450px;
	height:450px;
	border-radius:10px;
	opacity:.9;
}
@media only screen and (max-width: 768px) {
	.reg {
		text-align:center;
		top:35%;
	}
	ul {
        position: static;
        display: none;
    }
    ul li, li a {
        width: 100%;
    }
    .meni {
        display:block;
	}
	
}
*{
    margin:0;
    padding:0;
}
a{
	text-decoration: none;
	color:orange;
}
a:visited{
	text-decoration: none;

}
body{
	background-image: url("Fotografije/telefoni.jpg");
	height:100%;
	background-attachment:fixed;
	background-repeat:no-repeat;
	color:white;
	font-family:Arial;
	text-shadow: 0px 0px 20px black;	
	}

h1{
	font-size:20px;
}
input[type=text] {
  width: 200px;
  padding: 7px 7px;
  margin:5px 0;
  box-sizing: border-box;
}

input[type=text]:focus,[type=password]:focus{
	border:2px solid #97C026;
}
select {
	width:200px;
	margin:8px 0;
	box-sizing:border-box;
}
select :focus{
	border:2px solid #97C026;
}


table {
    border-collapse: collapse;
}
table, th, td {
	border:1px solid white;
}
.greske{
	color:red;
}

table, th, td {
	border:1px solid black;
}

.reg{
	position:absolute;
	margin:0 auto;
	top:30%;
	right:0;
	bottom:0;
	left:0;
	padding-top:30px;	
	background-color:#31577C;
	width:450px;
	height:650px;
	border-radius:10px;
	opacity:.9;
}
@media only screen and (max-width: 768px) {
	.reg {
		text-align:center;
		top:35%;
	}
}
*{
    margin:0;
    padding:0;
}
ul { /*skidanje oznaka liste*/
    list-style-type:none;
    position: absolute;
}
li { /*horizontalna lista*/
    display:inline-block;
    float: left;
}
li a { /*stil meni linkova*/
    display:block;
    min-width:140px;
    text-align: center;
    line-height: 47px;
    font-family:Arial;
    color: white;
    background: #31577C;
    text-decoration: none;
}
li:hover a { /* hover za top linkove*/
    background: #97C026;
	transition: background-color 0.5s ease;
}
li:hover ul a { /*stil drop linkova*/
    background: white;
    color: #2f3036;
    height: 40px;
    line-height: 40px;
	transition: background-color 0.5s ease;
}
li:hover ul a:hover { /*hover za drop linkove*/
    background: #97C026;
    color: white;
}
li ul { /*sakrivanje drop linkova*/
    display: none;
}
li ul li { /*stilizovanje vertikalnih drop linkova*/
    display: block;
    float: none;
}
ul li a:hover + .drop, .drop:hover { /*drop se pojavljuje na hover /
 + selektuje sve elemente koji su postavljeni odmah posle ul li a:hover */
    display: block;
}
.meni {
    font-family: Arial;
    text-decoration: none;
    color: white;
    background: #31577C;
    text-align: center;
    padding: 10px 0;
    display: none;
}
input[type=checkbox]{
    display: none;
}
input[type=checkbox]:checked ~ #meni{  /* ~selektuje sve elemente koji predhode checkbox elementu*/
    display: block;
}
@media screen and (max-width : 760px){
    ul { /* da se drop linkovi pojavljuju u liniji*/
        position: static;
        display: none;
    }
    ul li, li a {
        width: 100%;
    }
    .meni{
        display:block;
    }
}
.login {
  width: 100%;
  text-align: right;
  float: right;
  margin: 0 0 0 0;
  background:#31577C;
}


.footer {
	background:#31577C ;
	height: 30px;
	padding-bottom: 50px;
}
.footer p {
	color: white;
	font-size: 18px;
	line-height: 50px;
	margin:0;
	text-align:center;
}

#meni{
	width:100%;
	background-color:#31577C;
}
*{
    margin:0;
    padding:0;
}
ul {
    list-style-type:none;
    position: absolute;
}
li {
    display:inline-block;
    float: left;
}
li a {
    display:block;
    min-width:140px;
    text-align: center;
    line-height: 47px;
    font-family:Arial;
    color: white;
    background: #31577C;
    text-decoration: none;
	
}
li:hover a {
    background: #97C026;
	transition: background-color 0.5s ease;
}
li:hover ul a {
    background: #f3f3f3;
    color: #2f3036;
    height: 40px;
    line-height: 40px;
	transition: background-color 0.5s ease;
}
li:hover ul a:hover {
    background: #97C026;
    color: white;
}
li ul {
    display: none;
}
li ul li {
    display: block;
    float: none;
}
ul li a:hover + .drop, .drop:hover {
    display: block;
}
.meni {
    font-family: Arial;
    text-decoration: none;
    color: white;
    background: #31577C;
    text-align: center;
    padding: 10px 0;
    display: none;
}
input[type=checkbox]{
    display: none;
}
input[type=checkbox]:checked ~ #meni{
    display: block;
	
}
@media screen and (max-width : 760px){
    ul {
        position: static;
        display: none;
    }
    ul li, li a {
        width: 100%;
    }
    .meni {
        display:block;
    }
}